In [1]:
#creating a list contains 5 data variable
the_list=list(range(5))
the_list

[0, 1, 2, 3, 4]

In [2]:
#print data using for loop
for item in the_list:
  print(item)

0
1
2
3
4

In [3]:
#adding message to for loop
for i in range(5):
  print('element at index ', i, ' is ', the_list[i])

element at index  0  is  0
element at index  1  is  1
element at index  2  is  2
element at index  3  is  3
element at index  4  is  4

In [5]:
#using a for loop to print even numbers from 1-20
for num in range(1,21):
  if num%2==0:
    print(num)

2
4
6
8
10
12
14
16
18
20

In [6]:
# 5.	Sort your list in alphabetic order.
the_list_word=['Hello','Banana','School','Snow','milk']
the_list_word.sort()
the_list_word

['Banana', 'Hello', 'School', 'Snow', 'milk']

In [7]:
# 6.	Print out the first three elements of your list.
the_list_word[:3]

['Banana', 'Hello', 'School']

In [15]:
# 7.	Create a loop to print the last 2 elements of your list.
for item in the_list_word[-2:]:
  print(item)

Snow
milk